{% extends 'base.html.twig' %}

{% block title %}Acces Locaiton{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="jumbotron">
    <h2 class=".exemple-wrapper">Bienvenue à l'accueil</h2>
</div>   
    <div class="container m-4">

        <div class="row">     

            {% for article in articles  %}

                <div class="col-md-4">

                    <article>
                        <h2>{{article.title}}</h2>
                        <div class = "metadata"> {{article.createdAt | date('d/m/Y')}} a {{article.createdAt | date('h:i:s')}} / {{article.categorie.titre}} </div>
                        </br>
                        <div class = "content">
                        <img src= " {{article.image}} " alt="" width="300">
                        </div>    
                        </br>
                        <div class="content">
                        {{article.content}}
                        </div>
                        </br>  
                        <a href="{{path('blog_show', {'id' : article.id})}}" class="btn btn-primary"> Lire la suite </a>                                          
                        <hr>
                    </article>
                
                </div>

            {% endfor %}

        </div>

    </div>
<div class="navigation">
    {{ knp_pagination_render(articles) }}
</div>
{% endblock %}
