{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Bien!{% endblock %}


{% block body %}

<div class = "jumbotron">

    <article>
        <h2>{{article.title}}</h2>
        <div class = "metadata"> {{article.createdAt | date('d/m/Y')}} a {{article.createdAt | date('h:i:s')}} / {{article.categorie.titre}} </div>
        </br>
        <div class = "content">
        <img src= " {{article.image}} " alt="" width="300">
        </div>    
        </br>
        <div class="content">
        {{article.content}}
        </div>
        </br>  
    </article>

    <form>
        {{ form_start(formCommentaire) }}
            
            {{ form_widget(formCommentaire) }}

        <button type"submit" class="btn btn-success"> J'enregistre </button>

        {{ form_end(formCommentaire) }}
    </form>
    </br>

    <section id="commentaires">
        <div class='container'>
            <div class='row'>
                <div class='col-3'>
                    <h3><strong>Auteur</strong></h3>
                </div>
                <div class='col-3'>    
                    <h3><strong>Date</strong></h3>
                </div>
                <div class='col'>
                <h3><strong>Commentaire</strong></h3>
                </div>
            </div>
        </div>
        </br>
                
                
        {% for commentaire in article.commentaires %}
            <div class='container'>
                <div class='content'>
                    <div class='row'>
                        <div class='col-3'>
                            <p>{{commentaire.auteur}}</P>
                        </div>
                        <div class='col-3'>    
                            <p>Ecrit le {{commentaire.createdAt | date('d/m/Y')}} a {{commentaire.createdAt | date('h:i:s')}}</p>
                        </div>
                        <div class='col'>
                        <p>{{commentaire.commentaire}}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}    
    </section>

</div>

{% endblock %}
