{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Liste des Biens!{% endblock %}

{% block body %}

    <div class="container m-4">

        <div class="row">     

            {% for article in articles  %}

                <div class="col-md-4">

                    <article>
                        <figure>
                            <h2> {{article.title}}</h2>
                            <div class = "metadata"> {{article.createdAt | date('d/m/Y')}} a {{article.createdAt | date('h:i:s')}} / {{article.categorie.titre}} </div>
                            </br>
                            <div class = "content">
                            <img src= " {{article.image}} " alt="" title="une image" width="300">
                            <figcaption><em> une image </em></figcaption>
                            </div>    
                            </br>
                            <div class="content">
                            {{article.content}}
                            </div>
                            </br>
                        <figure>     
                        <a href="{{path('blog_show', {'id' : article.id})}}" class="btn btn-primary"> Lire la suite </a>                                          
                        <hr>
                    </article>
                
                </div>

            {% endfor %}

        </div>

    </div>  

    <div class="navigation">
        {{ knp_pagination_render(articles) }}
    </div>

    
{% endblock %}