{% extends 'base.admin.html.twig' %}

{% block title %}Liste Des Articles!{% endblock %}

{% block body %}
    <p><a class="btn btn-warning" href"{{path('article.creation')}}">Nouvelle Article</a></p>

    <table class="table table-striped table-bordered table-hover">

        <tr>
            <th>id</th>
            <th>Titre</th>
            <th>Categorie</th>
            <th>Contenue</th>
            <th>modifier</th>
            <th>supprimer</th>
        </tr>

        {% for article in articles  %}
            <tr>
                <td>{{article.id}}</td>
                <td>{{article.title}}</td>
                <td>{{article.categorie.titre}}</td>
                <td>{{article.content}}</td>
                <td><a href="{{path('article.edition',{'id': article.id })}}" class="btn btn-primary">Editer</a></td>
                <td><a href="#" class="btn btn-primary">Suprimer</a></td>                                             
            </tr>
        {% endfor %}    
    
    </table>

{% endblock %}