{% extends 'base.admin.html.twig' %}

{% block title %}Liste Des Catégories!{% endblock %}

{% block body %}
    <p>
    <br> </br>
    <a class="btn btn-warning" href="{{path('categorie.creation')}}">Nouvelle Categorie</a>
    <br> </br>
    </p>

    <table class="table table-striped table-bordered table-hover">

        <tr>
            <th>id</th>
            <th>Titre</th>
            <th>Resumer</th>
            <th>modifier</th>
            <th>supprimer</th>
        </tr>

        {% for categorie in categories %}
            <tr>
                <td>{{categorie.id}}</td>
                <td>{{categorie.titre}}</td>
                <td>{{categorie.resumer}}</td>
                <td><a href="{{path('categorie.edition', {'id': categorie.id })}}" class="btn btn-primary">Editer</a></td>
                <td><a href="#" class="btn btn-primary">Suprimer</a></td>                                             
            </tr>
        {% endfor %}    
    
    </table>

{% endblock %}